.feed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 20px;
    padding: 30px;
    margin-top: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    
}